BasedOnStyle: LLVM
UseTab: false
IndentWidth: 4

Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
#  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
SpaceBeforeParens: Never
#AllowAllConstructorInitializersOnNextLine: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
SpaceAfterTemplateKeyword: false